@model IList<Menu>

<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center">
				<div class="main-menu-wrap">
					<!-- logo -->
					<div class="site-logo">
						<a href="index.html">
							<img src="~/img/logo.png" alt="">
						</a>
					</div>
					<!-- logo -->
					<!-- menu start -->
					<nav class="main-menu">
						<ul>
							@foreach (var menu in Model.Where(m => m.Levels == 1).OrderBy(n => n.MenuOrder))
							{
								var Pid = menu.Menu_Id;
								var Smenu = Model.Where(p => p.ParentId == Pid).OrderBy(p => p.MenuOrder).ToList();
								@if (Smenu.Count == 0)
								{
									<li><a href="about.html">@menu.MenuName</a></li>
								}
								else
								{
									<li class="current-list-item">
										<a href="#">@menu.MenuName</a>
										<ul class="sub-menu">
											@foreach (var smn in Smenu)
											{
												<li><a href="index2.html">@smn.MenuName</a></li>
											}
										</ul>
									</li>
								}
							}
							
							<li>
								<div class="header-icons">
									<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
									<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
								</div>
							</li>
							
						</ul>
					</nav>
					<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
					<div class="mobile-menu"></div>
					<!-- menu end -->
				</div>
			</div>
		</div>
	</div>
</div>