@model List<FruitsShop.Models.CartItem>;
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Fresh and Organic</p>
					<h1>Check Out Product</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
	<div class="container">
		@if (Model.Count > 0)
            {
		<div class="row">
			<div class="col-lg-8">
				<div class="checkout-accordion-wrap">
					<div class="accordion" id="accordionExample">
						<div class="card single-accordion">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Billing Address
									</button>
								</h5>
							</div>

							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">
									<div class="billing-address-form">
										<form action="index.html">
											<p><input id="name" type="text" placeholder="Name"></p>
											<p><input id="email" type="email" placeholder="Email"></p>
											<p><input id="address" type="text" placeholder="Address"></p>
											<p><input id="phone" type="tel" placeholder="Phone"></p>
											<p><textarea name="bill" id="bill" cols="30" rows="10" placeholder="Say Something"></textarea></p>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="card single-accordion">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Shipping Address
									</button>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
								<div class="card-body">
									<div class="shipping-address-form">
										<p>Your shipping address form is here.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="card single-accordion">
							<div class="card-header" id="headingThree">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Card Details
									</button>
								</h5>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
								<div class="card-body">
									<div class="card-details">
										<p>Your card details goes here.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-4">
				<div class="order-details-wrap">
					@{
						int total = 0;
					}
					<table class="order-details">
						<thead>
							<tr>
								<th>Your order Details</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody class="order-details-body">
							<tr>
								<td>Product</td>
								<td>Total</td>
							</tr>
							@foreach(var item in Model){
								int thanhtien = item.quantity * (item.product.PriceSale == 0 ? (int)item.product.Price : (int)item.product.PriceSale);
								total += thanhtien;
							<tr>
								<td>
										@item.product.NameFruit<strong class="product-quantity">
											× @item.quantity
										</strong>
									</td>
									
									<td>$@thanhtien</td>
							</tr>
							}
						</tbody>
						<tbody class="checkout-details">
							<tr>
								<td>Subtotal</td>
								<td>$@total</td>
							</tr>
							<tr>
								<td>Shipping</td>
								<td>$	</td>
							</tr>
							<tr>
								<td>Total</td>
								<td>$@total</td>
							</tr>
						</tbody>
					</table>
					<a id="sendd" class="boxed-btn">Place Order</a>
				</div>
			</div>
		</div>
		}
		else
		{
			<p class="alert alert-danger">Giỏ hàng trống</p>
		}
	</div>
</div>
@section Scripts{
	<script>
		$(document).ready(function () {
			$("#sendd").click(function () {	
				var _name = $("#name").val();
				var _phone = $("#phone").val();
				var _email = $("#email").val();
				var _address = $("#address").val(); 
				$.ajax({
					url: "/Fruits/Order",
					type: "POST",
					data: { name: _name, phone: _phone, email: _email, address:_address },
					success: function (result) {
						if (result != null) {
							$("#sendd").hide();
							toastr.success('Gửi thành công');
							console.log(_name, _phone, _email, _address);
						}
						else {
							toastr.success('Gửi không thành công');
							console.log("aaaaa");
						}
					}
				});
			});
		});
	</script>
}
